footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $breakLarge) {
    width: 70%;
  }

  & a {
    font-weight: bold;
    font-size: 25px;
    color: $textColor;
    text-decoration: none;
    margin: 10px 0;

    & span {
      @media screen and (max-width: $breakLarge) {
        display: none;
      }
    }
  }
}
