footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 300px;
  margin: 0;
  padding: 100px 5% 0;
  background: $primaryColor url("../img/footer.png") no-repeat center;
  background-size: 75%;
  background-position-y: 30px;

  @media screen and (max-width: $breakSmall) {
    padding-top: 20px;
    height: 250px;
  }

  & > :nth-child(2) {
    text-align: right;
  }

  & section {
    display: flex;
    flex-direction: column;

    & a {
      font-weight: bold;
      font-size: 25px;
      color: $textColor;
      text-decoration: none;
      margin: 10px 0;

      @media screen and (max-width: $breakSmall) {
        font-size: 18px;
      }
    }
  }
}
