footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 300px;
  margin: 0;
  padding: 50px 5%;
  background: $backgroundFooter;

  & section {
    & h2 {
      font-family: 'Helvetica', sans-serif;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: -1px;
      color: $textColor;
      margin: 5px 0;

      @media screen and (max-width: $breakSmall) {
        font-size: 20px;
      }
    }

    & h3 {
      margin: 5px 0;

      & a {
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: -1px;
        color: white;
        text-decoration: none;

        @media screen and (max-width: $breakSmall) {
          font-size: 16px;
        }
      }
    }
  }
}