header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;

  @media screen and (max-width: $breakLarge) {
    margin-left: 5%;
    margin-right: 5%;
  }

  @media screen and (max-width: $breakMedium) {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  @media screen and (max-width: $breakSmall) {
    margin-right: 0;
  }

  & .header-img {
    display: flex;
    align-items: center;

    @media screen and (max-width: $breakSmall) {
      margin-right: 2.5%;
    }
  

    &:hover {
      opacity: 0.75;
    }

    & img {
      height: 55px;
    }
  }

  & .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.75vh;

    @media screen and (max-width: $breakLarge) {
      width: 75%;
      letter-spacing: 0.5vh;
    }

    @media screen and (max-width: $breakMedium) {
      width: 80%;
      letter-spacing: 0.5vh;
    }

    & a {
      color: $textColor;
      text-decoration: none;

      & svg {
        display: none;
      }

      &:hover {
        color: rgba($color: $textColor, $alpha: 0.75);
      }

      @media screen and (max-width: $breakSmall) {
        & span {
          display: none;
        }

        & svg {
          display: block;
        }
      }
    }

    & button {
      border: none;
      background-color: $backgroundColor;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.75vh;
      cursor: pointer;

      & svg {
        display: none;
      }

      @media screen and (max-width: $breakSmall) {
        & span {
          display: none;
        }

        & svg {
          display: block;
        }
      }

      &:hover {
        color: rgba($color: $textColor, $alpha: 0.75);
      }
    }
  }
}
