.home {
  background: $backgroundColor;
  padding: 50px 5% 60px;

  & h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: $textColor;
    margin: 5px 0;

    @media screen and (max-width: $breakSmall) {
      font-size: 20px;
    }
  }

  &_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 50px;

    & h2 {
      margin: 0;
    }

    .blink {
      font-size: 35px;
      margin: 0 0 0 10px;
      animation: blink-animation 1s steps(5, start) infinite;
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

      @media screen and (max-width: $breakSmall) {
        font-size: 25px;
      }
    }
  }

  &_line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.second {
      padding: 50px 0 0;
    }

    @media screen and (max-width: $breakSmall) {
      flex-direction: column;
    }

    & > :first-child {
      @media screen and (max-width: $breakSmall) {
        margin: 0 0 50px;
      }
    }

    & > div {
      width: 50%;

      @media screen and (max-width: $breakSmall) {
        width: 100%;
      }

      & h2 {
        margin-bottom: 20px;
      }

      & iframe {
        &.video {
          width: 100%;
        }

        @media screen and (max-width: $breakSmall) {
          width: 100%;
        }
      }
    }
  }
}