@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$backgroundColor: white;
$textColor: #313131;
$twitchColor: #6441A4;
$breakSmall: 768px;
$breakMedium: 1024px;

html, body {
  margin: 0;
  padding: 0;
  background: url("../img/bc.png") repeat fixed;
}

.app {
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: $breakMedium) {
    width: 100%;
  }
}

.container {
  margin: 50px 0;
  background: $backgroundColor;
}

@import "header";
@import "home";
@import "song";
@import "live";
@import "footer";