@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$primaryColor: #383838;
$secondaryColor: #eef0f2;
$textColor: #f7efdc;
$twitchColor: #6441a4;
$mainFont: "Montserrat", sans-serif;
$breakSmall: 768px;
$breakMedium: 1024px;

html,
body {
  margin: 0;
  padding: 0;
  background: $primaryColor;
  font-family: $mainFont;
}

@import "header";
@import "home";
@import "song";
@import "video";
@import "live";
@import "footer";
@import "player";
