@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$homeColor: #0466c8;
$songColor: #0353a4;
$shopColor: #023e7d;
$liveColor: #5c677d;
$videoColor: #7d8597;
$footerColor: #979dac;

$textColor: #f7f7f7;
$textColor2: #2e2e2e;
$twitchColor: #6441a4;

$mainFont: "Montserrat", sans-serif;

$breakSmall: 768px;
$breakMedium: 1024px;
$breakLarge: 1366px;

html,
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@import "home";
@import "song";
@import "shop";
@import "video";
@import "live";
@import "footer";
@import "player";
