.live {
  position: relative;
  width: 100%;
  padding-bottom: 100px;

  &-players {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakSmall) {
      flex-direction: column;
    }

    #twitch-embed {
      width: 70%;
      z-index: 1;

      @media screen and (max-width: $breakSmall) {
        width: 100%;
      }
    }

    #twitch-chat {
      width: 30%;
      z-index: 1;

      @media screen and (max-width: $breakSmall) {
        width: 100%;
      }
    }
  }
}