.live {
  background: $backgroundColor;

  &_user {
    padding: 40px 5% 0;

    & img {
      height: 60px;
      width: 60px;
    }

    & h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -2px;
      margin: 5px 0;
      color: $textColor;

      @media screen and (max-width: $breakSmall) {
        font-size: 20px;
      }
    }

    & a {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: -1px;
      color: $textColor;
      text-decoration: none;

      @media screen and (max-width: $breakSmall) {
        font-size: 18px;
      }
    }

    & p {
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      font-weight: normal;
      letter-spacing: -1px;
      margin: 5px 0;
      color: $textColor;

      @media screen and (max-width: $breakSmall) {
        font-size: 16px;
      }
    }
  }

  &_connect {
    & form {
      width: 100%;

      & button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: -1px;
        height: 70px;
        width: 100%;
        border: none;
        cursor: pointer;
        color: $backgroundColor;
        background: $twitchColor;
      }
    }
  }

  &_players {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakSmall) {
      flex-direction: column;
    }

    #twitch-embed {
      width: 70%;

      @media screen and (max-width: $breakSmall) {
        width: 100%;
      }
    }

    #twitch-chat {
      width: 30%;

      @media screen and (max-width: $breakSmall) {
        width: 100%;
      }
    }
  }

  &_rank {
    margin: 0;
    padding: 50px 5% 70px;

    & h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -2px;
      margin: 5px 0;
      color: $textColor;

      @media screen and (max-width: $breakSmall) {
        font-size: 20px;
      }
    }

    & table {
      border-collapse: separate;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      letter-spacing: -1px;
      font-size: 20px;
      color: $textColor;

      @media screen and (max-width: $breakSmall) {
        font-size: 16px;
      }

      & th {
        white-space: nowrap;
        text-align: left;
        padding: 20px 20px 0 0;

        @media screen and (max-width: $breakSmall) {
          padding-top: 10px;
        }
      }

      & td {
        padding: 20px 20px 0 0;

        @media screen and (max-width: $breakSmall) {
          padding-top: 10px;
        }
      }
    }
  }
}