.player {
  position: fixed;
  background-color: $secondaryColor;
  color: $primaryColor;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: $breakMedium) {
    width: 60%;
  }

  @media screen and (max-width: $breakSmall) {
    width: 100%;
  }

  &.hide {
    display: none;
  }

  & .player-info {
    display: flex;
    flex-direction: row;

    & img {
      width: 100px;
      height: 100px;
    }

    & .player-info-side {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: space-evenly;

      & h3 {
        font-size: 16px;
        margin: 0 10px;

        @media screen and (max-width: $breakSmall) {
          font-size: 14px;
        }
      }
    }

    & .player-info-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;

      @media screen and (max-width: $breakSmall) {
        margin-right: 0;
      }

      & progress {
        flex-grow: 2;
      }

      & label {
        margin-right: 10px;

        @media screen and (max-width: $breakSmall) {
          display: none;
        }
      }

      & button {
        border: none;
        cursor: pointer;
        outline: none;
        color: $primaryColor;

        & svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
