.song {
  background: $backgroundColor;
  padding: 40px 5%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakSmall) {
    padding: 30px 5%;
  }

  & section {
    width: 100%;

    & h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: $textColor;
      margin: 5px 0 20px;

      &.other {
        margin-top: 40px;

        @media screen and (max-width: $breakSmall) {
          margin-top: 35px;
        }
      }

      @media screen and (max-width: $breakSmall) {
        font-size: 20px;
      }
    }

    & div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      & iframe {
        width: 30%;
        margin: 10px 3% 10px 0;

        @media screen and (min-width: $breakSmall) and (max-width: $breakMedium) {
          width: 47%;
        }

        @media screen and (max-width: $breakSmall) {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}