.song {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-item {
    position: relative;
    display: block;
    width: 25%;
    background-size: cover;
    cursor: pointer;

    @media screen and (max-width: $breakMedium) {
      width: 33.33%;
    }

    @media screen and (max-width: $breakSmall) {
      width: 50%;
    }

    &:hover {
      & .song-item-hover {
        opacity: 1;
      }
    }

    &-hover {
      position: absolute;
      display: flex;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba($color: $textColor, $alpha: 0.5);

      & h3 {
        margin: 0 auto;
        padding: 0 20px;
        align-self: center;
        font-size: 24px;
        text-align: center;
        color: $textColor2;
        overflow-wrap: break-word;
      }
    }
  }
}
