.videos {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $videoColor;

  &-title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: rgba($color: $textColor, $alpha: 0.5);
    margin: 0 auto;
    font-size: 200px;
    z-index: 1;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: $breakSmall) {
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    & span {
      font-size: 30px;
      color: $textColor;
      margin: 0;

      @media screen and (max-width: $breakSmall) {
        font-size: 20px;
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > div {
      z-index: 2;
    }

    @media screen and (max-width: $breakSmall) {
      justify-content: center;
      margin: 0 auto;
      width: 100%;

      & iframe {
        width: 100%;
        height: 350px;
      }
    }
  }

  & .previous,
  & .next {
    font-size: 80px;
    color: $textColor;
    width: 20%;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: ease 2s;

    @media screen and (max-width: $breakSmall) {
      display: none;
    }
  }

  & .previous:hover {
    padding-right: 50px;
  }

  & .next:hover {
    padding-left: 50px;
  }

  & .previous_small,
  & .next_small {
    font-size: 30px;
    color: $textColor;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    align-self: flex-start;

    @media screen and (min-width: 769px) {
      display: none;
    }
  }
}
